.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #006ac9;
    z-index: 999;
    font-size: 16px;
    color: #fff;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}